@using Database.Enums;
@model Database.Entities.ApplicationUser;
@*@model HeartDiseasePrediction.ViewModel.EditAccountProfile;*@
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h3>@ViewData["Title"]</h3>
<div class="row">
    @if (!string.IsNullOrEmpty(Model.ProfileImg))
    {
        <div class="col-md-4">
            <img src="/uploads/@Model.ProfileImg" style="width:250px;height:300px" />
        </div>
    }
    <div class="col-md-6">
        <form asp-action="Update" id="profile-form" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <input asp-for="@Model.Id" type="text" class="form-control" hidden />
            <input asp-for="@Model.PasswordHash" type="text" class="form-control" hidden />
            <input asp-for="@Model.SecurityStamp" type="text" class="form-control" hidden />
            <input asp-for="@Model.UserName" type="text" class="form-control" hidden />
            <input asp-for="@Model.NormalizedEmail" type="text" class="form-control" hidden />
            <input asp-for="@Model.NormalizedUserName" type="text" class="form-control" hidden />
            <input asp-for="@Model.ConcurrencyStamp" type="text" class="form-control" hidden />
            <input asp-for="@Model.TwoFactorEnabled" type="text" class="form-control" hidden />
            <input asp-for="@Model.LockoutEnabled" type="text" class="form-control" hidden />
            <input asp-for="@Model.LockoutEnd" type="text" class="form-control" hidden />
            <input asp-for="@Model.PhoneNumberConfirmed" type="text" class="form-control" hidden />
            <input asp-for="@Model.EmailConfirmed" type="text" class="form-control" hidden />
            <div class="form-floating mb-3">
                <input asp-for="@Model.Email" type="text" class="form-control" placeholder="Enter your Email" />
                <label asp-for="@Model.Email" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="@Model.FirstName" type="text" class="form-control" placeholder="Enter your FirstName " />
                <label asp-for="@Model.FirstName" class="form-label"></label>
                <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="@Model.LastName" type="text" class="form-control" placeholder="Enter your LastName " />
                <label asp-for="@Model.LastName" class="form-label"></label>
                <span asp-validation-for="@Model.LastName" class="text-danger"></span>
            </div>
            @if (User.Identity.IsAuthenticated && User.IsInRole("Doctor"))
            {
                <div class="form-floating mb-3">
                    <input asp-for="@Model.Name" type="text" class="form-control" placeholder="Enter your Name " />
                    <label asp-for="@Model.Name" class="form-label"></label>
                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="@Model.Location" type="text" class="form-control" placeholder="Enter your Location " />
                    <label asp-for="@Model.Location" class="form-label"></label>
                    <span asp-validation-for="@Model.Location" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="@Model.Price" type="text" class="form-control" placeholder="Enter your Price " />
                    <label asp-for="@Model.Price" class="form-label"></label>
                    <span asp-validation-for="@Model.Price" class="text-danger"></span>
                </div>
            }
            @if (User.Identity.IsAuthenticated && User.IsInRole("User"))
            {
                <div class="form-floating mb-3">
                    <input asp-for="@Model.SSN" type="number" class="form-control" placeholder="Enter your SSN " />
                    <label asp-for="@Model.SSN" class="form-label"></label>
                    <span asp-validation-for="@Model.SSN" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="@Model.Insurance_No" type="number" class="form-control" placeholder="Enter your Insurance " />
                    <label asp-for="@Model.Insurance_No" class="form-label"></label>
                    <span asp-validation-for="@Model.Insurance_No" class="text-danger"></span>
                </div>
            }
            <div class="form-floating mb-3">
                <input asp-for="@Model.PhoneNumber" type="number" class="form-control" placeholder="Enter your phone number." />
                <label asp-for="@Model.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="BirthDate" class="form-label"></label>
                <div class="input-group date" id="inputDate" data-date-format="mm-dd-yyyy">
                    <input asp-for="@Model.BirthDate" type="date" class="form-control" readonly>
                    <span class="input-group-addon date_icon">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </span>
                </div>
                <span asp-validation-for="@Model.BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="@Model.Gender"></label>
                <select asp-for="@Model.Gender" class="form-control wide" id="inputGender" asp-items="Html.GetEnumSelectList<Gender>()">
                    <option value="NoSelected ">--Please Select Gender-- </option>
                </select>
                <span asp-validation-for="@Model.Gender" class="text-danger"></span>
            </div>
            <div class="m-2">
                <label class="form-label" asp-for="@Model.ProfileImg">Profile picture</label>
                <input asp-for="@Model.ImageFile" />
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-success">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}