@model Database.Entities.Lab

@{
    ViewData["Title"] = "Edit Lab Page";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<section class="book_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col">
                <form asp-action="Edit">
                    <h4>
                        Create <span>Lab</span>
                    </h4>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-row ">
                        <div class="form-group col-lg-4">
                            <label asp-for="@Model.Name" class="control-label"></label>
                            <input asp-for="@Model.Name" type="text" class="form-control" id="inputFullName">
                            <span asp-validation-for="@Model.Name" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-4">
                            <label asp-for="@Model.PhoneNumber" class="control-label"></label>
                            <input asp-for="@Model.PhoneNumber" type="number" class="form-control" id="inputFullName">
                            <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-4">
                            <label asp-for="@Model.Id" hidden class="control-label"></label>
                            <input asp-for="@Model.Id" hidden type="text" class="form-control" id="inputFullName">
                        </div>
                    </div>
                    <div class="btn-box">
                        <button id="btnAlertMessage" type="submit" class="btn ">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        //$(document).ready(function () {
        //    $("#btnAlertMessage").click(function () {
        //        Swal.fire({
        //            title: "Do you want to save the changes?",
        //            showDenyButton: true,
        //            showCancelButton: true,
        //            confirmButtonText: "Save",
        //            //denyButtonText: `Don't save`
        //        }).then((result) => {
        //            /* Read more about isConfirmed, isDenied below */
        //            if (result.isConfirmed) {
        //                Swal.fire("Saved!", "", "success");
        //            } else if (result.isDenied) {
        //                Swal.fire("Changes are not saved", "", "info");
        //            }
        //        });
        //    });
        //});
    </script>
}