@model List<Database.Entities.Appointment>

@{
	ViewData["Title"] = "Appointment List Page";
	Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<style>
	.card {
		box-shadow: 0px 4px 8px 0px #7986CB;
	}

/*	#myButton {
		display: block;
	}

	.hidden {
		display: none;
	}*/
</style>
<section class="card card-body bg-light " style="margin:30px 40px">
	<div class="container mt-4">
		<div class="row">
			<div class="col-md-10 offset-md-1">
				<div class="main-body">
					<nav aria-label="breadcrumb" class="main-breadcrumb ">
						<ol class="breadcrumb">
							<li class="breadcrumb-item">Appointment</li>
							<li class="breadcrumb-item">List</li>
							<li class="breadcrumb-item active" aria-current="page">List of Appointments</li>
						</ol>
					</nav>
				</div>
				<div class="form-inline justify-content-end my-2 my-lg-1 d-flex">
					<div>
						@using (Html.BeginForm("GetAppointmentByEmail", "Appointment", FormMethod.Post))
						{
							@Html.TextBox("search",null,new{@class="form-control",placeholder="Search here...",style="margin:5px 0px 5px 5px"})
							<button class="btn btn-primary" type="submit"><i class="fa fa-search"></i> </button>
						}
					</div>
				</div>
				@if (!Model.Any())
				{
					<div class="alert alert-warning" role="alert">
						No Appointments Found
					</div>
				}
				else
				{
					<table class="table table-hover table-responsive table-striped">
						<thead>
							<tr class="text-center bg-dark text-light">
								<th>#</th>
								<th>Patient</th>
								<th>Date</th>
								<th>Time</th>
								<th>Phone</th>
								@*<th>SSN</th>*@
								@*@if (User.Identity.IsAuthenticated && User.IsInRole("User"))
								{
									<th>Doctor</th>
								}*@
								@*@if (User.Identity.IsAuthenticated && User.IsInRole("Doctor"))
							{
							<th>Patient</th>
							}*@
								@*<th>Patient SSN</th>*@
								<th>
								</th>
								@*@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
							{
							<th>Action</th>
							}*@

							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model)
							{
								<tr>
									<td class="align-middle text-center counterColumn">
									</td>
									<td class="align-middle text-center">
										@item.PateintName
									</td>
									<td class="align-middle text-center">
										@item.date.ToString("dd MMM yy")
									</td>
									<td class="align-middle text-center">
										@item.Time
									</td>
									<td class="align-middle text-center">
										@item.PhoneNumber
									</td>
								@*	<td class="align-middle text-center">
										@item.PatientSSN
									</td>*@
									@if (User.Identity.IsAuthenticated && User.IsInRole("Doctor"))
									{
										<td class="align-middle text-center" >
											<a class="btn btn-success" id="myButton" asp-controller="Appointment" asp-action="AcceptsAppointment" asp-route-id="@item.Id" onclick="hideButton()"><i class="fa fa-check" aria-hidden="true"></i> Accept</a> |
											<a class="btn btn-danger" asp-controller="Appointment" asp-action="CancelAppointment" asp-route-id="@item.Id" onclick="ConfirmDelete()"><i class="fa fa-times" aria-hidden="true"></i> Cancel</a>
										</td>
									}
								</tr>
							}
						</tbody>
					</table>
				}
			</div>
		</div>
	</div>
</section>
<script>
	function ConfirmDelete() {
		document.getElementById("");
		var accept = confirm("Are You Sure to Cancel this Appointment?");
		if (accept == false) {
			event.preventDefault();
		}
	}
	document.addEventListener("DOMContentLoaded", function () {
		var counterCells = document.querySelectorAll(".counterColumn");
		var counter = 1;
		counterCells.forEach(function (cell) {
			cell.textContent = counter++;
		});
	});

	function hideButton() {
		var button = document.getElementById('myButton');
		button.classList.add('hidden'); // Add 'hidden' class to the button

		// Save state to localStorage
		localStorage.setItem('buttonHidden', true);
	}

	// Check if button was previously hidden and hide it accordingly
	window.onload = function () {
		var isButtonHidden = localStorage.getItem('buttonHidden');
		if (isButtonHidden) {
			var button = document.getElementById('myButton');
			button.classList.add('hidden');
		}
	}
</script>